<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
	<title>COVID 19</title>
	
  <!--link rel="shortcut icon" type="image/png" href="/media/images/favicon.png"-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <style>
    .dataTables_filter {
      float: left;
      font-size:40px;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
      select,
      textarea,
      input {
        font-size: 16px;
      }
    }
  </style>
  
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" class="init"> 
    $(document).ready(function() {
      $('#covid19_table').DataTable({
        responsive: true,
        paging: false,
        info: false,
        stateSave: true,
        order: [[ 1, 'desc' ]],
      });
    });
	</script>
</head>

<body>
  <div class="fw-body">
    <div class="content">
      <div class="info">
        <h1 valign="center">Paises - Dados sobre COVID 19</h2>
      </div>      
      <div>
        </br>
        <a href="#" onclick="location.reload();"><h1>[ATUALIZAR]</h1></a>
        </br>
        <h1>✅ Confirmados: {{ "{:,}".format(total['total_confirmed']) }}</h1>
        <h1>♻️ Recuperados: {{ "{:,}".format(total['total_recovered']) }}</h1>
        <h1>💀 Mortos: {{ "{:,}".format(total['total_deaths']) }}</h1>
      </div>
      <table id="covid19_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr style="font-size:30px;">
              <th>Pais</th>
              <th>✅</th>
              <th>♻️</th>
              <th>💀</th>
              <!--th>Atualizado em</th-->
          </tr>
        </thead>
        <tbody>
          {% for country in countries['data'] %}
            <tr style="font-size:30px;">
              <td>{{ country['country'] }}</td>
              <td>{{ "{:,}".format(country['confirmed']) }}</td>
              <td>{{ "{:,}".format(country['recovered']) }}</td>
              <td> {{ "{:,}".format(country['deaths']) }}</td>
              <!--td>{{ country['updated_at'] }}</td-->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>